.AddModalWrapper {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.InputImgWrapper {
  display: flex;
  width: 100px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  cursor: pointer;
}

.InputImg {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 150px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border: 0.5px solid black;
  border-radius: 5px;
  gap: 2px;
}
.InputImgText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.InputNameWrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 10px;
}

.InputLabel {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.InputText {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 25px;
}

.Buttons {
  display: flex;
  width: 100%;
  margin: 15px 0 0 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.Btn {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
